######################################################################
# Common vars from grains
##
{% set domain_name = grains['domain'].rstrip('.') %}
{% set hostname    = grains['nodename']		  %}

{% if grains['virtual'] == 'xen' %}

# If we're in AWS
{% set env_name    = grains['ec2_tags']['env_name']    %}
{% set env_version = grains['ec2_tags']['env_version'] %}
{% set system_type = grains['ec2_tags']['system_type'] %}


{% load_yaml as defaults %}
short_hostname: {{ system_type }}-public-{{ env_version }}
public_fqdn: {{ system_type }}-public-{{ env_version }}.{{ domain_name }}
private_fqdn: {{ system_type }}-private-{{ env_version }}.{{ domain_name }}
env_name: {{ env_name }}
env_version: {{ env_version }}
system_type: {{ system_type }}
domain_name: {{ domain_name }}
{% endload %}


{% else -%}
# Not in AWS - No access to ec2_tags
{% load_yaml as defaults %}
short_hostname: {{ hostname }}
public_fqdn: {{ hostname }}
private_fqdn: {{ hostname }}
domain_name: {{ domain_name }}
{% endload %}

{% endif %}


{% set common = salt.pillar.get('common', default=defaults, merge=True) %}
